sudo apt get install git
sudo apt install virtualbox
sudo snap install pycharm-community --classic


# Grub loads an OS after a timeout, instead of waiting
#sudo pico /etc/default/grub
sudo update-grub


# LVM for HDD (sda)
sudo pvcreate /dev/sda
sudo vgcreate my_vg /dev/sda
sudo lvcreate -L 50G -n win_space my_vg


# nvidia drivers
sudo ubuntu-drivers autoinstall

sudo apt install gnucash


# Fossa upgrade
sudo apt update 
sudo apt upgrade
sudo apt dist-upgrade
sudo apt autoremove
sudo apt install update-manager-core
sudo do-release-upgrade


# anaconda / jupyter
# https://www.digitalocean.com/community/tutorials/how-to-install-the-anaconda-python-distribution-on-ubuntu-18-04


# evernote clone
sudo snap install tusk


# python pip
sudo apt install python-pip

# spotify
sudo snap install spotify

# xrdp
sudo apt install xrdp
sudo adduser xrdp ssl-cert
## also, this needs to be added to /etc/xrdp/startwm.sh:
# unset DBUS_SESSION_BUS_ADDRESS
# unset XDG_RUNTIME_DIR
# . $HOME/.profile


# after doing Fossa upgrade, PyCharm wouldn't pick an interpreter:
sudo apt install python3-pip

# got gparted to create partitions on HDD
sudo apt-get install gparted

# postgresql
sudo apt install postgresql postgresql-contrib
