sudo apt get install git
sudo apt install virtualbox
sudo snap install pycharm-community --classic


# Grub loads an OS after a timeout, instead of waiting
#sudo pico /etc/default/grub
sudo update-grub


# LVM for HDD (sda)
sudo pvcreate /dev/sda
sudo vgcreate my_vg /dev/sda
sudo lvcreate -L 50G -n win_space my_vg


# nvidia drivers
sudo ubuntu-drivers autoinstall

sudo apt install gnucash


# Fossa upgrade
sudo apt update 
sudo apt upgrade
sudo apt dist-upgrade
sudo apt autoremove
sudo apt install update-manager-core
sudo do-release-upgrade
