# in /etc/mdadm/mdadm.conf , array made from sda, sdb, sdc
## This from mdadm --detail --scan
ARRAY /dev/md0 metadata=1.2 spares=1 name=banks:0 UUID=3caa1933:707d36cb:20e506f9:8f40e79d

# yes, you really must do what the comments in mdadm.conf tells you, and "Run update-initramfs -u after updating this file." Otherwise you get md127 instead!

#  then in /etc/fstab
/dev/md0	/mnt	ext4	defaults	0	0

# sqlite
sudo apt install sqlite3

# pip
sudo apt install python3-pip

### dogsheep
# google takeout
pip3 install google-takeout-to-sqlite

=> comes back with
 WARNING: The script tabulate is installed in '/home/cjb/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script sqlite-utils is installed in '/home/cjb/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script google-takeout-to-sqlite is installed in '/home/cjb/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.


## filesharing
sudo apt install sshfs fuse ssh

